/.idea/
/node_modules/
/npm-debug.log
/coverage/
/client/public/files/fonts/*
/client/public/files/graphicImages/*
/client/public/files/graphicThumbs/*
/client/public/files/thumb/*
/client/public/files/vectors/*
/client/public/files/productImages/*
/client/public/files/productThumbs/*
/client/public/files/productTemplate/*
/client/public/files/productLocationImage/*
/client/public/files/productLocationMask/*
/client/public/files/productLocationOverlay/*
