
/.vs/
/.idea/
/node_modules/
/npm-debug.log
/coverage/
/client/public/files/fontsNormal/*
/client/public/files/graphicImages/*
/client/public/files/graphicThumbs/*
/client/public/files/thumb/*
/client/public/files/fontVectors/*
/client/public/files/productImages/*
/client/public/files/productThumbs/*
/client/public/files/productTemplate/*
/client/public/files/productLocationImage/*
/client/public/files/productLocationMask/*
/client/public/files/productLocationOverlay/*
/client/public/files/productCategoryThumbs/*
!/client/public/files/productThumbs/.gitkeep
!/client/public/files/thumb/.gitkeep
!/client/public/files/productLocationOverlay/.gitkeep
!/client/public/files/productLocationMask/.gitkeep
!/client/public/files/productLocationImage/.gitkeep
!/client/public/files/productImages/.gitkeep
!/client/public/files/productCategoryThumbs/.gitkeep
!/client/public/files/fontsNormal/.gitkeep
!/client/public/files/graphicImages/.gitkeep
!/client/public/files/fontVectors/.gitkeep
/client/public/files/fontsBold/*
!/client/public/files/graphicThumbs/.gitkeep
!/client/public/files/fontsBold/.gitkeep
/client/public/files/fontsBoldItalic/*
/client/public/files/fontsItalic/*
!/client/public/files/fontsItalic/.gitkeep
!/client/public/files/fontsBoldItalic/.gitkeep
/client/public/files/graphicCategoryThumbs/*
!/client/public/files/graphicCategoryThumbs/.gitkeep
/client/public/files/productColors/*
!/client/public/files/productColors/.gitkeep
/server/datasources.json
